fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt>=3.0,<4.0
python-jose[cryptography]
python-multipart
aiofiles
pydantic[email]
pydantic-settings
